.companies{
	padding-bottom: 100px;
		&-item{
			border-bottom: 1px var(--color-black) solid;
			padding: 37px 0 35px;
				&:nth-child(1){
					border-top: 1px var(--color-black) solid;
				}
				&-panel{
					position: relative;
				}
				@include d($xxs){
					padding: 28px 0 25px;
				}
		}
		@include d($md){
			padding-bottom: 50px;
		}
		@include d($xxs){
			padding-bottom: 20px;
		}
}

.company{
		&-title{
			max-width: 80%;
			overflow: hidden;
				@include d($sm){
					max-width: 70%;
				}
				@include d($xs){
					max-width: 100%;
					padding-right: 130px;
				}
				@include d($xxs){
					padding-right: 95px;
				}
		}
		&-thumb{
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 150px;
			height: 100px;
				img{
					@include imageContain(center);
				}
				@include d($lg){
					height: 80px;
				}
				@include d($xs){
					width: 120px;
				}
				@include d($xxs){
					width: 90px;
				}
		}
}