.contact{
	padding: 22px 0 150px;
	overflow: visible;
		&-body{
			padding-left: 80px;
				&-item{
					&:not(:last-child){
						padding-bottom: 70px;
					}
				}
				@include d($xl){
					padding-left: 60px;
				}
				@include d($sm){
					padding-left: 40px;
				}
				@include d($xs){
					padding-left: 0;
				}
		}
		&-title{
			font-size: 26px;
			font-family: var(--font-title-bold);
			line-height: 1.5em;
			color: var(--color-primary);
			position: sticky;
			top: 0;
		}
		&-box{
			padding: 6px 0 34px;
				&-title{
					font-size: 16px;
					line-height: 1em;
					text-transform: uppercase;
					color: var(--color-error);
					letter-spacing: .02em;
					font-family: var(--font-base-semibold);
					margin-bottom: 17px;
				}
				&-value{
					font-size: 16px;
					font-family: var(--font-base-mediumn);
					color: var(--color-gray);
				}
				&:last-child{
					padding-bottom: 0;
				}
		}
		.section{
				&-title{
					padding-left: 80px;
					margin-top: 85px;
					margin-bottom: 154px;
						@include d($xl){
							padding-left: 60px;
						}
						@include d($md){
							margin-bottom: 50px;
						}
						@include d($sm){
							padding-left: 40px;
							margin-top: 60px;
						}
						@include d($xs){
							margin-top: 30px;
							padding-left: 0;
						}
				}
				&-name{
					top: 27px;
				}
				&-thumb{
					position: sticky;
					top: 0;
						@include d($md){
							display: none;
						}
				}
				&-bg{
					img{
						width: 100%;
						height: 100%;
					}
				}
		}
		.social{
			padding-top: 8px;
				&-link{
					@include d($xl){
						&:not(:last-child){
							margin-right: 0;
							margin-bottom: 10px;
						}
					}
					@include d($md){
						&:not(:last-child){
							margin-right: 15px;
							margin-bottom: 0;
						}
					}
					@include d($xxs){
						&:not(:last-child){
							margin-right: 0;
							margin-bottom: 10px;
						}
					}
				}
				@include d($xl){
					flex-direction: column;
					align-items: flex-start;
				}
				@include d($md){
					flex-direction: row;
					align-items: center;
				}
				@include d($xxs){
					flex-direction: column;
					align-items: flex-start;
				}
		}
		@include d($xl){
			padding: 22px 0 100px;
		}
		@include d($md){
			padding: 22px 0 50px;
		}
}