.members{
	margin-top: 70px;
	min-height: 200vh;
	height: 100vh;
	overflow: visible;
		.section{
				&-name{
					top: 34px;
						@include d($xs){
							top: 20px;
						}
				}
				&-thumb{
					height: 528px;
					margin-left: 80px;
					position: relative;
					z-index: 2;
					//position: sticky;
					//top: 0;
						img{
							@include imageCover(center);
						}
						@include d($xl){
							margin-left: 0;
						}
						@include d($md){
							margin: 40px -40px 0;
						}
						@include d($sm){
							height: 80vw;
							margin: 40px -15px 0;
						}
				}
				&-title{
					margin-bottom: 33px;
				}
				&-description{
					margin: 15px 0 46px;
				}
				&-content{
					padding-top: 117px;
					max-width: 530px;
						@include d($md){
							max-width: 80%;
							padding-left: 60px;
						}
						@include d($sm){
							padding-left: 40px;
						}
						@include d($xs){
							padding-top: 60px;
							padding-left: 0;
							max-width: 100%;
						}
				}
				&-bg{
					img{
						width: 100%;
					}
				}
		}
		.container,
		.row,
		[class*=col-]{
			height: 100%;
		}
		@include d($md){
			height: auto;
			min-height: 0;
			margin-top: 0;
		}
}