.partner{
	padding: 180px 0;
		&-list{
			overflow: hidden;
			padding-top: 135px;
				&-row{
					display: flex;
					white-space: nowrap;
				}
				@include d($xs){
					padding-top: 90px;
				}
		}
		&-item{
			width: 394px;
			height: 394px;
			min-width: 394px;
			border-radius: 50%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 -20px;
				&:before{
					content: '';
					position: absolute;
					inset: 0;
					border-radius: 50%;
					border: 1px var(--color-primary-light) solid;
					opacity: .5;
				}
				&-thumb{
					width: 194px;
					height: 90px;
						img{
							@include imageContain(center);
						}
						@include d($xs){
							width: 100px;
							height: 80px;
						}
				}
				@include d($md){
					width: 320px;
					height: 320px;
					min-width: 320px;
				}
				@include d($xs){
					width: 200px;
					height: 200px;
					min-width: 200px;
					margin: 0 -10px;
				}
		}
		.section{
			&-title{
				padding-left: 80px;
					@include d($xl){
						padding-left: 60px;
					}
					@include d($sm){
						padding-left: 40px;
					}
					@include d($xs){
						padding-left: 0;
					}
			}
			&-name{
				top: 106px;
					@include d($md){
						top: 60px;
					}
			}
			&-bg{
				text-align: center;
			}
		}
		@include d($md){
			padding: 100px 0;
		}
}