.footer{
	background-color: var(--color-black);
	color: var(--color-white);
	overflow: hidden;
	position: relative;
		&-panel{
			display: flex;
			max-width: 1440px;
			width: 100%;
			margin: 0 auto;
			position: relative;
				&-item{
					flex: 1;
					height: 192px;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					border-right: 1px var(--color-black-100) solid;
					position: relative;
						&:before{
							content: '';
							position: absolute;
							bottom: 0;
							left: -50vw;
							right: -50vw;
							height: 1px;
							background-color: var(--color-black-100);
						}
						&:last-child{
							border-right: none;
						}
						&.__20{
							max-width: 20%;
								@include d($sm){
									flex: none;
									max-width: 100%;
									width: 33.33%;
								}
						}
						@include d($md){
							height: 160px;
						}
						@include d($xs){
							font-size: 12px;
						}
						@include d($xxs){
							height: 120px;
							font-size: 10px;
						}
				}
				@include d($sm){
					flex-wrap: wrap;
				}
		}
		&-link{
			color: var(--color-gray-100);
			font-size: 32px;
			line-height: 1em;
			transition: color var(--hover-duration) var(--hover-ease);
				@include hover($md){
					&:hover{
						color: var(--color-error);
					}
				}
				@include d($xl){
					font-size: 28px;
				}
				@include d($md){
					font-size: 22px;
				}
				@include d($xs){
					font-size: 18px;
				}
				@include d($xxs){
					font-size: 14px;
				}
		}
		&-logo{
			width: 190px;
				@include d($xl){
					max-width: 80%;
				}
		}
		&-copyright{
			justify-content: space-between;
			color: var(--color-white);
				.footer-panel-item{
					border: none;
					height: 78px;
				}
				.paragraph{
					color: inherit;
					line-height: 1em;
				}
				@include d($md){
					padding: 0 15px;
				}
		}
		[class*=h-]{
			color: inherit;
			font-family: var(--font-base-regular);
		}
		.link-default{
			@include d($xs){
				font-size: 12px;
			}
			@include d($xxs){
				font-size: 10px;
			}
		}
}